Add support in models for dictionary types

@darrelmiller can you add a YAML sample for that on the repo please?

This is blocked on OpenAPI 3.1 support as the patternedProperties keyword is not supported in OpenAPI 3.0

https://github.com/microsoft/api-guidelines/blob/vNext/graph/patterns/dictionary.md
https://github.com/microsoft/api-guidelines/blob/vNext/graph/patterns/dictionary-client-guidance.md

Implementation guidance.

There are two cases dictionary, and patterns.
For dictionary, we just want to represent the model as a dictionary, with no other property.
For patterns, there can be multiple pattern per model, each pattern will map to a property on the model. (e.g. odata instance fields would map to a dedicated dictionary property on the model)

# deserialization for dictionaries

## At generation time

1. add a `*` entry in the field deserializers which would contain the code to insert into the dictionary.
2. make the model inherit from map/dictionary.

## At runtime

1. look for a `*` entry.
2. call the deserializer for every json value we find.

# serialization for dictionaries

## generation time

1. update the serialization method to loop on every entry and call the right serialization method.

# deserialization for patterns

## generation time

This case is a bit more advanced but similar to the dictionary

1. generate a property for each pattern
2. generate a deserializer for each pattern

## at runtime

1. if a json value has an exact match, call the deserializer
2. if a json value matches one of the patterns (do the detection of them, and regex generation once outside of the loop), call the pattern deserializer
3. if the model supports additional data, stick if there


# serialization of patterns

## at runtime

Iterate over the entries found in the properties

> @LockTar yes it seems this is impacting your client generation. Are you trying to access the data in this dictionary or could you ignore it in your application?

Yes I need the data in the dictionary. My api has fluentvalidation and when it has validation errors I convert them to a ValidationProblemDetails. That is a class in .net and is an industry standard for communication of errors/ProblemDetails. The ValidationProblemDetails object is inheriting ProblemDetails and is extending it with an Errors property of the type Dictionary<string, string[]>. So you will get a list of Validation errors with the key as the field and a string[] with all the errors of that field.

My client (user interface) binds the errors dictionary to my form... I have a workaround by deserializing the object to a string[] first but if it can be optimized it would be nice. Also I don't understand the extra class in between. 

Also, how could we change the name of the exception? The exception is now called ValidationProblemDetails. But can we change it to something like in example ValidationException? Maybe with an attribute or something? The docs are a bit unclear about models and serialization.

Sorry for the strange format but typing on mobile. Thanks!

I'm not sure I follow the comment about the extra class in between?

As for the class name, it's driven by the component name in the API description or the properties/endpoint names if inline. So you can tweak those to change the end class name.

I needed some time to figure everything out...

> As for the class name, it's driven by the component name in the API description or the properties/endpoint names if inline. So you can tweak those to change the end class name.

Ok so I played a bit with it. Because I generate the OpenAPI  spec with Swashbuckle. I haven't figured out a way to change the name of the `component` with an attribute. So I created a new class called `ValidationProblemDetailsException` (originally I used the `ValidationProblemDetails` class from .net) that has exactly the same properties as the class in .net. But now I can add some things like example values and nice titles. So my class in example has the `[SwaggerSchema(Title = "Validation Problem Details")]` attribute.

> I'm not sure I follow the comment about the extra class in between?
> 

To focus on the `Errors` dictionary:
My API in example returns the following response (.net `ValidationProblemDetails`):

```json
{
    "title": "One or more validation errors occurred.",
    "status": 400,
    "detail": "Please refer to the errors property for additional details.",
    "instance": "/api/address/here",
    "errors": {
        "Prop1": [
            "Error for prop1"
        ],
        "Code": [
            "'Code' must not be empty.",
            "'Code' must be 6 characters in length. You entered 0 characters."
        ]
    }
}
```

My response in the swagger file is generated from that same class (or see above from `ValidationProblemDetailsException` that is exactly the same).

So this is the complete C#:

```C#
[SwaggerSchema(Title = "Validation Problem Details")]
public class ValidationProblemDetailsException : ProblemDetailsException
{
    /// <summary>
    /// Gets the validation errors associated with this instance.
    /// </summary>
    /// <example>{"prop1": ["error1","error2"], "prop2": ["error1","error2"]}</example>
    public IDictionary<string, string[]> Errors { get; } = new Dictionary<string, string[]>(StringComparer.Ordinal);
}

public class ProblemDetailsException
{
    /// <summary>
    /// A URI reference [RFC3986] that identifies the problem type. This specification encourages that, when
    /// dereferenced, it provide human-readable documentation for the problem type
    /// (e.g., using HTML [W3C.REC-html5-20141028]).  When this member is not present, its value is assumed to be
    /// "about:blank".
    /// </summary>
    [JsonPropertyName("type")]
    public string? Type { get; set; }

    /// <summary>
    /// A short, human-readable summary of the problem type.It SHOULD NOT change from occurrence to occurrence
    /// of the problem, except for purposes of localization(e.g., using proactive content negotiation;
    /// see[RFC7231], Section 3.4).
    /// </summary>
    /// <example>One or more validation errors occurred.</example>
    [JsonPropertyName("title")]
    public string? Title { get; set; }

    /// <summary>
    /// The HTTP status code([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.
    /// </summary>
    /// <example>400</example>
    [JsonPropertyName("status")]
    public int? Status { get; set; }

    /// <summary>
    /// A human-readable explanation specific to this occurrence of the problem.
    /// </summary>
    /// <example>Please refer to the errors property for additional details.</example>
    [JsonPropertyName("detail")]
    public string? Detail { get; set; }

    /// <summary>
    /// A URI reference that identifies the specific occurrence of the problem.It may or may not yield further information if dereferenced.
    /// </summary>
    /// <example>/api-resource/v1/action</example>
    [JsonPropertyName("instance")]
    public string? Instance { get; set; }

    /// <summary>
    /// Gets the <see cref="IDictionary{TKey, TValue}"/> for extension members.
    /// <para>
    /// Problem type definitions MAY extend the problem details object with additional members. Extension members appear in the same namespace as
    /// other members of a problem type.
    /// </para>
    /// </summary>
    /// <remarks>
    /// The round-tripping behavior for <see cref="Extensions"/> is determined by the implementation of the Input \ Output formatters.
    /// In particular, complex types or collection types may not round-trip to the original type when using the built-in JSON or XML formatters.
    /// </remarks>
    [JsonExtensionData]
    public IDictionary<string, object?> Extensions { get; } = new Dictionary<string, object?>(StringComparer.Ordinal);
}
```

The response in the swagger file is:

```json
"ValidationProblemDetailsException": {
  "title": "Validation Problem Details",
  "type": "object",
  "properties": {
    "type": {
      "type": "string",
      "description": "A URI reference [RFC3986] that identifies the problem type. This specification encourages that, when\r\ndereferenced, it provide human-readable documentation for the problem type\r\n(e.g., using HTML [W3C.REC-html5-20141028]).  When this member is not present, its value is assumed to be\r\n\"about:blank\".",
      "nullable": true
    },
    "title": {
      "type": "string",
      "description": "A short, human-readable summary of the problem type.It SHOULD NOT change from occurrence to occurrence\r\nof the problem, except for purposes of localization(e.g., using proactive content negotiation;\r\nsee[RFC7231], Section 3.4).",
      "nullable": true,
      "example": "One or more validation errors occurred."
    },
    "status": {
      "type": "integer",
      "description": "The HTTP status code([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.",
      "format": "int32",
      "nullable": true,
      "example": 400
    },
    "detail": {
      "type": "string",
      "description": "A human-readable explanation specific to this occurrence of the problem.",
      "nullable": true,
      "example": "Please refer to the errors property for additional details."
    },
    "instance": {
      "type": "string",
      "description": "A URI reference that identifies the specific occurrence of the problem.It may or may not yield further information if dereferenced.",
      "nullable": true,
      "example": "/api-resource/v1/action"
    },
    "errors": {
      "type": "object",
      "additionalProperties": {
        "type": "array",
        "items": {
          "type": "string"
        }
      },
      "description": "Gets the validation errors associated with this instance.",
      "nullable": true,
      "readOnly": true,
      "example": {
        "prop1": [
          "error1",
          "error2"
        ],
        "prop2": [
          "error1",
          "error2"
        ]
      }
    }
  },
  "additionalProperties": {}
}
```

The client is generated is as follow:

```C#
public class ValidationProblemDetailsException : ApiException, IAdditionalDataHolder, IParsable {
    /// <summary>Stores additional data not described in the OpenAPI description found when deserializing. Can be used for serialization as well.</summary>
    public IDictionary<string, object> AdditionalData { get; set; }
    /// <summary>A human-readable explanation specific to this occurrence of the problem.</summary>
#if NETSTANDARD2_1_OR_GREATER || NETCOREAPP3_1_OR_GREATER
#nullable enable
    public string? Detail { get; set; }
#nullable restore
#else
    public string Detail { get; set; }
#endif
    /// <summary>Gets the validation errors associated with this instance.</summary>
#if NETSTANDARD2_1_OR_GREATER || NETCOREAPP3_1_OR_GREATER
#nullable enable
    public ValidationProblemDetailsException_errors? Errors { get; private set; }
#nullable restore
#else
    public ValidationProblemDetailsException_errors Errors { get; private set; }
#endif
    /// <summary>A URI reference that identifies the specific occurrence of the problem.It may or may not yield further information if dereferenced.</summary>
#if NETSTANDARD2_1_OR_GREATER || NETCOREAPP3_1_OR_GREATER
#nullable enable
    public string? Instance { get; set; }
#nullable restore
#else
    public string Instance { get; set; }
#endif
    /// <summary>The HTTP status code([RFC7231], Section 6) generated by the origin server for this occurrence of the problem.</summary>
    public int? Status { get; set; }
    /// <summary>A short, human-readable summary of the problem type.It SHOULD NOT change from occurrence to occurrenceof the problem, except for purposes of localization(e.g., using proactive content negotiation;see[RFC7231], Section 3.4).</summary>
#if NETSTANDARD2_1_OR_GREATER || NETCOREAPP3_1_OR_GREATER
#nullable enable
    public string? Title { get; set; }
#nullable restore
#else
    public string Title { get; set; }
#endif
    /// <summary>A URI reference [RFC3986] that identifies the problem type. This specification encourages that, whendereferenced, it provide human-readable documentation for the problem type(e.g., using HTML [W3C.REC-html5-20141028]).  When this member is not present, its value is assumed to be&quot;about:blank&quot;.</summary>
#if NETSTANDARD2_1_OR_GREATER || NETCOREAPP3_1_OR_GREATER
#nullable enable
    public string? Type { get; set; }
#nullable restore
#else
    public string Type { get; set; }
#endif
    /// <summary>
    /// Instantiates a new ValidationProblemDetailsException and sets the default values.
    /// </summary>
    public ValidationProblemDetailsException() {
        AdditionalData = new Dictionary<string, object>();
    }
    /// <summary>
    /// Creates a new instance of the appropriate class based on discriminator value
    /// </summary>
    /// <param name="parseNode">The parse node to use to read the discriminator value and create the object</param>
    public static ValidationProblemDetailsException CreateFromDiscriminatorValue(IParseNode parseNode) {
        _ = parseNode ?? throw new ArgumentNullException(nameof(parseNode));
        return new ValidationProblemDetailsException();
    }
    /// <summary>
    /// The deserialization information for the current model
    /// </summary>
    public IDictionary<string, Action<IParseNode>> GetFieldDeserializers() {
        return new Dictionary<string, Action<IParseNode>> {
            {"detail", n => { Detail = n.GetStringValue(); } },
            {"errors", n => { Errors = n.GetObjectValue<ValidationProblemDetailsException_errors>(ValidationProblemDetailsException_errors.CreateFromDiscriminatorValue); } },
            {"instance", n => { Instance = n.GetStringValue(); } },
            {"status", n => { Status = n.GetIntValue(); } },
            {"title", n => { Title = n.GetStringValue(); } },
            {"type", n => { Type = n.GetStringValue(); } },
        };
    }
    /// <summary>
    /// Serializes information the current object
    /// </summary>
    /// <param name="writer">Serialization writer to use to serialize this model</param>
    public void Serialize(ISerializationWriter writer) {
        _ = writer ?? throw new ArgumentNullException(nameof(writer));
        writer.WriteStringValue("detail", Detail);
        writer.WriteStringValue("instance", Instance);
        writer.WriteIntValue("status", Status);
        writer.WriteStringValue("title", Title);
        writer.WriteStringValue("type", Type);
        writer.WriteAdditionalData(AdditionalData);
    }
}
```

So it generates an extra `ValidationProblemDetailsException_errors` class for the Errors property.  This is the part that I don't understand. That class has a property `public IDictionary<string, object> AdditionalData { get; set; }` which is actually the original `Dictionary<string, string[]>`.

So to catch the exception and really get the errors for my API I have to do this:

```C#
catch (ValidationProblemDetailsException ex)
{
    Dictionary<string, string[]> errors = ex.Errors.AdditionalData.ToDictionary(d => d.Key, d => JsonSerializer.Deserialize<string[]>(d.Value.ToString()));

    // See errors for actual errors! Display errors in userinterface here

    throw;
}
```

Thanks for the extensive details here. Yes that extra error class is because Kiota doesn't know what to do with the dictionary (it doesn't get parsed properly by OpenAPI.net at this point) and it results in generating an extra class. It's also because the definition is inline with the property, if it was a component schema, at least the name would be "cleaner".

Your welcome 👍🏻. You now have a good unit test haha.

So this will be fixed in the future? Any timeline when because this ticket is already open for a long time... Would be very nice to have. Thanks!

Yep, thanks :)

We're really dependent on OpenAPI.net adding support for 3.1 here. My team also works on that library and the work for 3.1 has already started a while ago. But it's a significant undertaking. You can follow progress of that [with this milestone](https://github.com/microsoft/OpenAPI.NET/milestone/8) and although the release date is set to the end of the month, it's probably going to take at least another few more months.

Meanwhile we're focusing on making most of the existing languages here stable BEFORE we take that change in, that's because this change will be breaking (addition to interfaces so we can serialize/deserialize dictionaries properly).

@LockTar We are making reasonable progress on OpenAPI 3.1 but as @baywet says it is going to a take another couple of months.  As we have to make breaking changes anyway to support OpenAPI  3.1 we are taking advantage of the opportunity to make a number of other fixes that will resolve performance issues and hopefully fix external references.

@baywet We have never discussed schemas with `additionalProperties` that define a schema for the additional properties.  I wonder if we could leverage that schema during deserialization of AdditionalData so that AdditionalData doesn't just contain strings of JSON?

@darrelmiller the challenge being we materialize that property with a non generic interface today, and changing that would also be a breaking change https://github.com/microsoft/kiota-abstractions-dotnet/blob/main/src/serialization/IAdditionalDataHolder.cs

Hey @baywet, 

I also just stumbled across this issue. I'm not 100% getting behind why the OpenAPI 3.1. update and the support for dictionaries is related. I tried to identify, why e.g. this example does not generate correct code. 

```yaml
openapi: 3.0.0
info:
  title: Sample API
  version: 0.1.9
paths:
  /users:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  schema:
                    type: object
                    properties:
                      data:
                        type: string

```

And from my quick reading of the Microsoft.OpenAPI code, there exists a branch that tries to parse the schema of the `additionalProperties` field (cf. [OpenApiSchemaDeserializer.cs#L161](https://github.com/microsoft/OpenAPI.NET/blob/976c9f59adb53b846a935bb2c318d2364be1c333/src/Microsoft.OpenApi.Readers/V3/OpenApiSchemaDeserializer.cs#L161)), but that seems not to work. Is this a bug?

I would expect the deserializer to return the schema information of the `additionalProperties`, but that is not the case:

```cs
using Microsoft.OpenApi.Models;
using Microsoft.OpenApi.Readers;

var document = new OpenApiStreamReader().Read(File.OpenRead("example.yml"), out var diagnostics);

var additionalProperties = document.Paths["/users"].Operations[OperationType.Get].Responses[
    "200"
].Content["application/json"]
    .Schema
    .AdditionalProperties;

Console.WriteLine(additionalProperties.Properties.Count); // prints 0
```

From my rough understanding of kiota, it should in principle be able to generate the correct dictionary types in this case, if the OpenApi deserializer would work correctly, shouldn't it? 


Hi @fpoppinga 
Thanks for looking into this and sharing your findings here.

The fact that you're not getting the schema properties in OpenAPI.net seems like a bug to me as well, would you mind opening an issue over there so we can have a focused discussion on this please?

As to Darrel's earlier comment, when additional properties are schematized, we haven't defined what should happen in kiota from a generation perspective. What would you expect to happen?

Lastly, dictionary types (the original issue of this topic) were introduced with 3.1, so we'll need the implementation to be complete before we can benefit from those improvements in kiota.

Thanks for the quick reply, I appreciate it! 

> The fact that you're not getting the schema properties in OpenAPI.net seems like a bug to me as well, would you mind opening an issue over there so we can have a focused discussion on this please?

I did that, see [#OpenAPI.NET/1427](https://github.com/microsoft/OpenAPI.NET/issues/1427)

> As to Darrel's earlier comment, when additional properties are schematized, we haven't defined what should happen in kiota from a generation perspective. What would you expect to happen?

I would expect the generated `AdditionalData` field to be of type `IDictionary<string, Dummy>` and `Dummy` being generated from schema, instead of `IDictionary<string, object>` as it is now: 

```cs
    public class UsersResponse : IAdditionalDataHolder, IParsable {
        /// <summary>Stores additional data not described in the OpenAPI description found when deserializing. Can be used for serialization as well.</summary>
        public IDictionary<string, object> AdditionalData { get; set; }
// ... 
``` 

> Lastly, dictionary types (the original issue of this topic) were introduced with 3.1, so we'll need the implementation to be complete before we can benefit from those improvements in kiota.

Maybe I'm confusing something here, but when I talk about dictionaries, I was meaning dictionaries as defined [here](https://swagger.io/docs/specification/data-models/dictionaries/), and that's the OAS 3.0. 

Now that the work to support OpenAPI 3.1 is complete, is there a new timeline for this particular issue? We just hit a situation where one of our endpoints relies on returning a model with a Dictionary inside it and using Kiota with that model is not working for us.

As mentioned by @julealgon, it would be great to have a new timeline for this.

We're looking to the possibility of moving all our generated http clients to use Kiota. However, this is currently a blocker for us.

@julealgon can you provide more context around OAS 3.1 support being completed please?

> @julealgon can you provide more context around OAS 3.1 support being completed please?

I was alluding to this being in completed state:
- https://github.com/microsoft/OpenAPI.NET/issues/795

Right, As per my last comment on this thread, although most of the implementation work is done, there's remaining work to be done before a preview version is published and we can grab that in kiota.
The better thing to follow for progress is [this milestone](https://github.com/microsoft/OpenAPI.NET/milestone/8) AFAIK

Hi， Has this issue been resolved? 

Not yet, see the [update I provided](https://github.com/microsoft/kiota/issues/3914#issuecomment-2504110591) on OAS 3.1 implementation progress.

I'm worried about the direction of this issue. Am I'm understanding correctly that the only planned implementation of dictionaries in Kiota is via pattern properties from OAS 3.1?

Is there no plan to support dictionaries defined using additionalProperties? It may take a long time before the OAS specs I'm generating clients for upgrade to 3.1 and I don't want to be stuck with the current implementation that long. 

Other client generation libraries like AutoRest are able to generate dictionaries for OAS less than 3.1. 

#1791 is over 2 years old and was closed in favor of this issue that still won't actually resolve the problem unless you have a OAS 3.1 spec that uses pattern properties.

Please tell me I'm wrong and just misunderstanding 

Hi @sfields-metabolon 
Thank you for using kiota and for reaching out.

Additional properties is kind of supported today through the AdditionalData property that gets generated with every model. The only difference is that it does not account for the "generic" value type (it's up to you to use type assertions).

For both additional properties and pattern properties, beyond the support for OAS3.1, we also need to update the serialization and deserialization interfaces, which is a breaking change and will need to go in a future major version.

Right now, our efforts are focused on finishing the OAS3.1 support (general availability of OpenAPI.net).

Let us know if you have any additional comments or questions.

@baywet I'm in the process of trying to migrate our generated clients from AutoRest to Kiota, but this has become a blocking issue. 

If I understand correctly, the way I'd need to handle this given the current functionality would be to take the AdditionalData property that was produced, serialize it into something like JSON, then deserialize that back into the type I actually want. Is that accurate? Is that what you had in mind when you said "it's up to you to use type assertions"?

Beyond that I have another issue which is that because Kiota doesn't "see" that the additionalProperties section is typed and so it doesn't actually generate the model for that type. It appears in my OAS spec in the schemas, but it's never referenced outside of the additionalProperties section that gets returned, so Kiota effectively ignores it when generating the models (see #1554).

So even if I wanted to serialize/deserialize to get the actual type I need I'd still be on the hook for providing the model I want to deserialize to.

Thank you for the additional information.

What language are you writing code in?

Yes, at the moment additionalProperties is ignored, and if it references a model that's only referenced in additionalProperties, since kiota only loads/generates schemas models as needed, the model will be absent from the generated code. Forcing you to use the additional data property, and Untyped elements.

> Thank you for the additional information.
> 
> What language are you writing code in?
> 
> Yes, at the moment additionalProperties is ignored, and if it references a model that's only referenced in additionalProperties, since kiota only loads/generates schemas models as needed, the model will be absent from the generated code. Forcing you to use the additional data property, and Untyped elements.

Currently the API producing the OpenAPI schema and the client consuming it are both written in C#, however I plan to also generate clients for some Python projects as well, I just haven't gotten there yet.

Manually parsing the properties of my types would be totally unmanageable using the methodology you describe above. Some of these types have dozens of properties and many of them are nested inside other objects.

What I've been looking at doing is creating an extension method for `IAdditionalDataHolder` that would allow me to convert it to a typed dictionary. Something like the following:

```csharp
/// <summary>
/// Extensions for <see cref="IAdditionalDataHolder"/>
/// </summary>
public static class AdditionalDataHolderExtensions
{
    /// <summary>
    /// Options for controlling how the AdditionalData field is serialized/deserialized
    /// </summary>
    public static JsonSerializerOptions AdditionalDataSerializerOptions = new()
    {
        PropertyNameCaseInsensitive = true,
        Converters =
        {
            new JsonStringEnumConverter()
        }
    };
    
    /// <summary>
    /// Converts the values in the <see cref="IAdditionalDataHolder"/> from untyped <see cref="object"/> to the
    /// correct types
    /// </summary>
    /// <param name="additionalDataHolder">Instance that holds additional untyped data</param>
    /// <typeparam name="TValue">Type of the values stored in additional data</typeparam>
    /// <returns>A dictionary representing the data in the additional data</returns>
    public static IDictionary<string, TValue> ConvertValue<TValue>(this IAdditionalDataHolder additionalDataHolder)
    {
        var result = new Dictionary<string, TValue>();

        foreach (var (key, value) in additionalDataHolder.AdditionalData)
        {
            if (value is TValue typedValue)
            {
                result.Add(key, typedValue);
                continue;
            }
            
            if (value is not IParsable parsable)
            {
                throw new InvalidOperationException("Values in the AdditionalData must implement IParsable");
            }
            
            var jsonStream = KiotaJsonSerializer.SerializeAsStream(parsable);
            var deserialized = JsonSerializer.Deserialize<TValue>(jsonStream, AdditionalDataSerializerOptions);
            
            result.Add(key, deserialized!);
        }

        return result;
    }
}
```

Essentially doing what's suggested by the [docs](https://learn.microsoft.com/en-us/openapi/kiota/serialization?tabs=csharp)

> As objects of UntypedNode implement the IParsable interface it is possible to use the serialization helpers from Kiota to serialize them to a string/stream and parse it with a preferable parser based on scenario.

right, this is another avenue, which does introduce double parsing, and has a performance impact.
In the example I've provided, you can break down the condition, split it across multiple methods etc... This complex condition does need to be in one block for each and every property.

> right, this is another avenue, which does introduce double parsing, and has a performance impact. In the example I've provided, you can break down the condition, split it across multiple methods etc... This complex condition does need to be in one block for each and every property.

The double parsing is definitely unfortunate and that's why I'd love to see support for this built-in to the original parsing done by Kiota. 

However, if I were to go with a solution like what you proposed where I write a manual mapping to parse out each individual property and construct the model by hand (a model which I've now also had to manually define in my case) then it defeats the purpose of being able to generate a client. It's actually more work than just using HttpClient and deserializing the response to a type.

Is it possible to enable Kiota to already generate the models for schemas that are only referenced in `additionalProperties`?

I work with schemas which classes I don't want to write "by hand" and the only workaround I see is to manually create a path definition that uses the schema.

That's an interesting suggestion! Now that we have support for parsing OpenAPI 3.1 we could add that as an intermediate stop-gap.
Is this something you'd like to submit a pull request for provided some guidance?

## Hear ye, hear ye, Read all about it!

`OpenAPI.NET` just released support for `OpenAPI 3.1`:
https://github.com/microsoft/OpenAPI.NET/releases/tag/v2.0.0

This is only my opinion: historically speaking, we've always implemented new features like this for all stable languages in sync. 

Yes it increases the upfront cost, but it helps validating a specific design does not corner us into something impossible or unpractical to implement in some languages. 
Also this reduces the support cost long term, and improves adoption. That's because having to navigate feature support matrices on a per language basis is a real pain for everyone involved. 
The only feature that comes to mind which is an exception has been the anonymous types (UntypedFoo), and 3 years after it's been implemented in C#, it's still not implemented in python or PHP... https://github.com/microsoft/kiota/issues/4385 https://github.com/microsoft/kiota/issues/4384

That being said, creating the issues in all the language repos to start chatting about the design for each language and track the progress would be a good starting point from a coordination perspective. Make sure it links back to this issue.